<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.softeng_grup6.vainsfitness">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.main.AddMeal"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.main.AddUser"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.main.AddMealPlan"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.main.RemoveMeal"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.main.ChangeWeight"
            android:label="@string/app_name" />
    </application>

</manifest>